  <div class="wrapper-home" id="home">
    <div class="banner-image">
      <div>
        <h1 class="header-1">MARJOLIJN BIJMAN</h1>
        <h2>INTERIOR ARCHITECT</h2>
      </div>
      <%= link_to "#about" do %>
      <i class="fa fa-angle-down fa-4x smooth-scroll"></i>
      <% end %>
      <i class="fa fa-bars fa-2x logo-bar"></i>
    </div>
  </div>

  <div class="wrapper-about" id="about">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h3 class="titre-about">dear.....</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <p>Thanks for visiting our website! It means the world to us.</p>
          <p>Running my own design studio has been a life long dream. In my earlier years, I started companies for which I worked as the Creative Director: In2media, now one of Scandinavia’s leading web agencies; and Trunk Archive, today’s premier photographer archive that we recently sold to investors. These very different ventures have taught me a lot about niches, branding and running a business.</p>
          <p>In 2008 I decided not to be involved with the daily operations of these companies, and to fully dedicate myself to starting a design agency. I spring loaded the Studio’s start by launching the MILK table, manufactured by Holmris in 2007. It received overwhelming acclaim from both clients and press, so with several full sketchbooks in hand, I jumped into this awesome industry. </p>
          <p>And here I am, 9 years later, living in New York. My team has an incredible skill set within architecture, product design and manufacturing.</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <p>We run a flat organization, so if the junior designer has the best idea that’s what we go with. We worship high quality and sustainable materials, and approach our work with both traditional and innovative craftsmanship. This is the makeup and moving force behind Søren Rose Studio.</p>
          <p>We proudly have the capacity to provide our interiors clients with any level of service they require. Everything from designing a sink for their existing home to drawing their future home is within our purview. We have the benefit of using these big projects as inspiration to design furniture and products. Much of our furniture starts as limited editions and evolves into commercially viable products, which we then license through leading manufactures.</p>
          <p>We would love to hear from you, whoever you are. So please reach out to us with any questions or requests you might have for our studio. </p>
          <p></p>
          <p class="thanks">Thanks for reading.</p>
          <p class="greeting">
            Sincerely,
            <br>
            <em>Soren
              <em>
                Rose
              </em>
            </em>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="wrapper-work" id="work">
    <div class="project-image">
      <div class="project">
        <h2>PROJECTS</h2>
        <p class="button-project">Curious? Click here to have a look</p>
      </div>
    </div>
  </div>

  <div class="container">
  <div class="row">
    <div class="col-md-3">

    </div>
  </div>
  </div>


  <div class="wrapper-brand" id="brands">
    <div class="brand-content">
      <div>
        <h2 class="title-brand"><a href="">BRANDS</a></h2>
        <p>Here will you find a selection of my favorite brand. Choosing the right partner to build your interior is also part of the succes</p>
      </div>
    </div>
  </div>

  <div class="wrapper-contact" id="contact">
    <div class="wrapper-black">
    </div>
    <div class="container">
      <div class="row contact-content">
        <div class="col-xs-12">
          <h2 class="contact">CONTACT</h2>
          <p class='contact-title'>Marjolijn Bijman</p>
          <p class="email center">mail: marjolijnbijman@gmail.com</p>
          <p>phone: (+32) 489635823 <p class="adress">Rue general patton 33 - 1050 - Ixelles - Belgium</p>
        </div>
      </div>
    </div>
  </div>


