  <div class="banner-image">
    <div>
      <h1 class="header-1">Marjolijn Bijman</h1>
      <h2 class="h2">Interior Architect</h2>
    </div>
    <%= link_to "#about" do %>
    <i class="fa fa-angle-down fa-4x smooth-scroll"></i>
    <% end %>
    <i class="fa fa-bars fa-2x logo-bar"></i>
  </div>


  <div class="wrapper-about" id="about">
    <div class="container">
      <div class="row">
      </div>
    </div>
  </div>
