<%=render 'layouts/navbar' %>
<section id="banner">
	<div class="banner-image-project">
		<div>
			<h1 class="header-1 ">Marjolijn Bijman </h1>
			<h2>INTERIOR ARCHITECT</h2>
		</div>
		<i class="fa fa-bars fa-2x" id="logo-bar"></i>
	</div>
</section>
<%=render 'layouts/footer'  %>	
