<section id="navbar">
<i id="cross"class="fa fa-times"></i>
<div>
<div>HOME</div>
<div>ABOUT</div>
<div>PROJECT</div>
<div>BRAND</div>
<div>JOURNAL</div>
<div>INSPIRATION</div>
<div>CONTACT</div>
</div>
</section>
